@import "tailwindcss";

@theme {
  --color-ffbf00: #ffbf00;
  --color-00ff40: #00ff40;
  --color-0040ff: #0040ff;
  --color-ff00c0: #ff00c0;

  --color-b29a72: #b29a72;
  --color-222019: #222019;
  --color-dfd9cf: #dfd9cf;
  --color-595441: #595441;
  --color-5f2f17: #5f2f17;
}
