@import "tailwindcss";

@theme {
  --color-ffbf00: #ffbf00;
  --color-00ff40: #00ff40;
  --color-0040ff: #0040ff;
  --color-ff00c0: #ff00c0;

  --color-b29a72: #b29a72;
  --color-222019: #222019;
  --color-dfd9cf: #dfd9cf;
  --color-595441: #595441;
  --color-5f2f17: #5f2f17;

  --color-353e67: #353e67;
  --color-ccac95: #ccac95;
  --color-76abd8: #76abd8;
  --color-532c19: #532c19;
  --color-6292c8: #6292c8;

  --color-a08267: #a08267;
  --color-211f21: #211f21;
  --color-6d2c18: #6d2c18;
  --color-d4d8d6: #d4d8d6;
  --color-cdc6b0: #cdc6b0;

  --color-997e65: #997e65;
  --color-22242a: #22242a;
  --color-ced8c6: #ced8c6;
  --color-a3adb7: #a3adb7;
  --color-5b2f27: #5b2f27;
}
